include /_mixins

doctype html
html
  head
    title Trello Clone
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    +stylesheet_link_tag("app")
    +javascript_include_tag("vendor/all")
    +javascript_include_tag("handlebars_templates")
  body
    block content

    +javascript_include_tag("app")
    +javascript_include_tag("models/card", "models/list")
    +javascript_include_tag("collections/cards", "collections/lists")
    +javascript_include_tag("views/board", "views/lists", "views/list")
    +javascript_include_tag("views/cards", "views/card", "views/cardDetail")
    +javascript_include_tag("views/newList", "views/newCard", "views/search")
    script.
      App.lists = new Lists(!{JSON.stringify(lists)});
      App.init(!{JSON.stringify(cards)});
