<header>
  <input type="text" />
  <h1>Trello Clone</h1>
  <a href="#" class="fa fa-bell-o" aria-hidden="true"></a>
</header>
<main>
  <header>
    <h2>Board</h2>
  </header>
  <div class="container">
    <ul id="lists">
    </ul>
    <a href="#" class="add-list">Add a list...</a>
  </div>
</main>
