<header>
  <div id="search">
    <input type="text" />
    <i class="fa fa-search fa-flip-horizontal" aria-hidden="true"></i>
    <a href="#" class="close"></a>
  </div>
  <div class="heading">
    <h1>Shello</h1>
  </div>
  <div class="notifications">
    <a href="#" class="fa fa-bell-o notifications" aria-hidden="true"></a>
  </div>
</header>
<main>
  <header>
    <h2>Board</h2>
  </header>
  <div class="container">
    <ul id="lists">
    </ul>
  </div>
</main>
