<div>
  <form action="/" method="post">
    <fieldset>
      <input type="text" id="title" value="{{title}}" />
      {{#if description}}
      <p>{{description}}</p>
      {{/if}}
    </fieldset>
  </form>
</div>
