<div class="modal">
  <header>
    <input type="text" id="title" value="{{title}}" />
  </header>
  <div class="col details">
    <section id="card-labels">
    </section>
    <section id="description">
    </section>
    <section id="comments">
    </section>
  </div>
  <div class="col actions">
    <section>
      <h2>Add</h2>
      <ul>
        <li>
          <a href="#" class="labels">
            <i class="fa fa-tag" aria-hidden="true"></i>
            Labels
          </a>
        </li>
      </ul>
    </section>
    <section>
      <h2>Actions</h2>
      <ul>
        <li>
          <a href="#" class="move">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            Move
          </a>
        </li>
      </ul>
    </section>
  </div>
</div>
