{{#if description}}
<dl>
  <dt>
    Description
    <a href="#" class="edit">Edit</a>
  </dt>
  <dd>
    {{description}}
  </dd>
</dl>
{{else}}
<a href="#" class="edit">Edit the description...</a>
<dl>
  <dt></dt>
  <dd></dd>
</dl>
{{/if}}
