<form action="#" method="post">
  <dl>
    <dt>
      <label>Add Comment</label>
    </dt>
    <dd>
      <textarea placeholder="Write a comment...">
      </textarea>
    </dd>
  </dl>
  <button type="submit" disabled>Save</button>
</form>
<h2>Activity</h2>
<ul>
</ul>
