<div class="actions-modal">
  <header>
    <a class="fa fa-arrow-left"></a>
    <h1>Delete Label?</h1>
    <a class="close"></a>
  </header>
  <p>There is no undo. This will remove this label from all cards.</p>
  <button class="delete">Delete</button>
</div>
