<div class="actions-modal">
  <header>
    <h1>Delete Card?</h1>
    <a class="close"></a>
  </header>
  <p>Are you sure you want to delete this card?</p>
  <button class="delete">Delete</button>
</div>
