<div class="actions-modal">
  <header>
    <h1>Change Due Date</h1>
    <a class="close"></a>
  </header>
  <form action="#" method="post">
    <fieldset>
      <dl>
        <dt><label for="datepicker">Date</label></dt>
        <dd><input type="text" id="datepicker" value="{{dueDate}}"/></dd>
      </dl>
      <div id="calendar">
      </div>
      <button type="submit">Save</button>
      <button class="delete">Remove</button>
    </fieldset>
  </form>
</div>
