<form action="#" method="post">
  <textarea placeholder="Add a more detailed description...">
    {{description}}
  </textarea>
  <button type="submit">Save</button>
  <a href="#" class="close"></a>
</form>
