<div class="actions-modal">
  <header>
    <h1>Move Card</h1>
    <a class="close"></a>
  </header>
  <form action="#" method="post">
    <fieldset>
      <div>
        <label for="list">List</label>
        <select id="list">
          <option>Basics</option>
        </select>
      </div>
      <div>
        <label for="position">Position</label>
        <select id="position">
          <option>1</option>
        </select>
      </div>
    </fieldset>
  </form>
</div>
