<div class="actions-modal">
  <header>
    <a class="fa fa-arrow-left"></a>
    <h1>Create Label</h1>
    <a class="close"></a>
  </header>
  <form action="#" method="post">
    <fieldset>
      <dl>
        <dt>
          <label for="name">Name</label>
        </dt>
        <dd>
          <input id="name" type="text"></input>
        </dd>
        <dt>
          <label>Select a color</label>
        </dt>
        <dd>
          <ul>
            {{#each colors}}
            <li data-color="{{.}}" style="background-color:{{.}};">
              <i class="fa fa-check" aria-hidden="true"></i>
            </li>
            {{/each}}
            <li>
              <dl>
                <dt>No color.</dt>
                <dd>This won't show up on the front of cards.</dd>
              </dl>
            </li>
          </ul>
        </dd>
      </dl>
      <button type="submit">Create</button>
    </fieldset>
  </form>
</div>
