@import "whitespace-reset.css";
@import "vendor/dragula.css";
html {
  height: 100%;
}
a {
  text-decoration: none;
}
body {
  height: 100%;
  font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: #0079bf;
}
body > header {
  display: flex;
  width: 100%;
  position: fixed;
  height: 40px;
  padding: 8px;
  background: rgba(0,0,0,0.15);
  box-sizing: border-box;
  align-items: center;
  z-index: 2;
}
body > header #search {
  flex: 3 3 0;
  position: relative;
}
body > header #search input {
  width: 180px;
  height: 30px;
  padding: 0 8px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: #4b96c1;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
}
body > header #search input .close {
  display: none;
}
body > header #search input:hover {
  background: #65a5c9;
}
body > header #search input:focus {
  outline: none;
}
body > header #search .fa-search {
  position: relative;
  left: -22px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
body > header #search.active input {
  width: 380px;
  background: #fff;
}
body > header #search.active .fa-search {
  display: none;
}
body > header #search.active .close {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  margin: 0 5px 0 0;
  vertical-align: middle;
  transform: rotate(45deg);
  width: 16px;
  height: 16px;
  margin-left: -24px;
}
body > header #search.active .close:before,
body > header #search.active .close:after {
  position: absolute;
  content: "";
  background: #999;
}
body > header #search.active .close:before {
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
}
body > header #search.active .close:after {
  top: 50%;
  right: 0;
  left: 0;
  height: 2px;
  margin-top: -1px;
}
body > header #search.active .close:hover:before,
body > header #search.active .close:hover:after {
  background: #4d4d4d;
}
body > header #search #results {
  position: absolute;
  top: 38px;
  width: 600px;
  min-height: 180px;
  padding: 10px;
  border-radius: 3px;
  box-sizing: border-box;
  background: #edeff0;
}
body > header #search #results h1 {
  padding: 0 0 10px 0;
  font-size: 17px;
}
body > header #search #results #search-cards {
  width: 180px;
}
body > header #search #results #search-cards .card:hover {
  background: #fff;
}
body > header .heading {
  flex: 1 1 0;
}
body > header .heading h1 {
  text-align: center;
  font-size: 18px;
  color: #f6f6f6;
}
body > header #notifications {
  flex: 3 3 0;
}
body > header #notifications a.fa {
  float: right;
  width: 30px;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0, rgba(255,255,255,0.2) 100%);
  border-radius: 5px;
}
body > header #notifications a.fa:hover {
  background: linear-gradient(to bottom, rgba(255,255,255,0.4) 0, rgba(255,255,255,0.3) 100%);
}
main {
  height: 100%;
  padding: 40px 10px 0 10px;
  box-sizing: border-box;
}
main > header {
  position: fixed;
}
main > header h2 {
  padding: 10px;
  font-size: 18px;
  color: #f6f6f6;
}
main .container {
  width: 100%;
  height: 100%;
  padding: 44px 0 10px 0;
  box-sizing: border-box;
  overflow: auto;
}
main .container ul#lists {
  display: flex;
  align-items: flex-start;
  flex: 0 0 auto;
  height: 100%;
}
li.list {
  display: flex;
  flex-direction: column;
  flex: 0 0 270px;
  position: relative;
  max-height: 100%;
  margin-right: 8px;
  background: #e2e4e6;
  box-sizing: border-box;
  border-radius: 3px;
}
li.list header h3 {
  padding: 8px 0 4px 10px;
  color: #4d4d4d;
}
li.list div {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}
li.list div ul.cards {
  padding: 6px 6px 0 6px;
}
li.list .add-card {
  padding: 10px;
  color: #8d8d8d;
}
li.list .add-card:hover {
  color: #504e50;
  text-decoration: underline;
  background: #cdd2d4;
  border-radius: 0 0 3px 3px;
}
li.list #new-card fieldset {
  padding: 0 6px 6px 6px;
}
li.list #new-card fieldset textarea {
  width: 100%;
  height: 60px;
  padding: 6px;
  margin: 0 0 4px 0;
  font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  resize: none;
}
li.list #new-card fieldset textarea:focus {
  outline: none;
}
li.list #new-card fieldset button {
  padding: 6px 18px;
  margin: 0 10px 0 0;
  color: #fff;
  font: bold 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, #60bc45 0, #59ab3a 100%);
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px #3f6e17;
}
li.list #new-card fieldset button:hover {
  background: linear-gradient(to bottom, #59ab3a 0, #50972f 100%);
  cursor: pointer;
}
li.list #new-card fieldset a.close {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  margin: 0 5px 0 0;
  vertical-align: middle;
  transform: rotate(45deg);
}
li.list #new-card fieldset a.close:before,
li.list #new-card fieldset a.close:after {
  position: absolute;
  content: "";
  background: #999;
}
li.list #new-card fieldset a.close:before {
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
}
li.list #new-card fieldset a.close:after {
  top: 50%;
  right: 0;
  left: 0;
  height: 2px;
  margin-top: -1px;
}
li.list #new-card fieldset a.close:hover:before,
li.list #new-card fieldset a.close:hover:after {
  background: #4d4d4d;
}
li.list #new-card + .add-card {
  display: none;
}
li.card {
  position: relative;
  padding: 6px 8px 8px 8px;
  margin: 0 0 6px 0;
  background: #fff;
  border-radius: 3px;
  list-style: none;
}
li.card:hover {
  cursor: pointer;
  background: #edeff0;
}
li.card:hover i.fa-pencil {
  display: block;
  position: absolute;
  top: 4px;
  right: 4px;
  width: 24px;
  line-height: 24px;
  text-align: center;
  color: #aaa;
  border-radius: 3px;
  background: rgba(237,239,240,0.8);
}
li.card:hover i.fa-pencil:hover {
  color: #4d4d4d;
  background: #d6dadc;
}
li.card span {
  display: inline-block;
  width: 37px;
  height: 7px;
  border-radius: 3px;
}
li.card span + span {
  margin: 0 0 0 4px;
}
li.card p {
  padding: 2px 0 0 0;
  color: #494949;
}
li.card i.fa-pencil {
  display: none;
}
.add-list {
  flex: 0 0 270px;
  position: relative;
  padding: 12px;
  font-size: 14px;
  color: rgba(255,255,255,0.7);
  background: rgba(0,0,0,0.12);
  border-radius: 3px;
  box-sizing: border-box;
}
.add-list:hover {
  background: rgba(0,0,0,0.3);
}
.add-list #new-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  padding: 4px;
  background: #e2e4e6;
  border-radius: 3px;
  box-sizing: border-box;
}
.add-list #new-list:hover {
  cursor: default;
}
.add-list #new-list input {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 0 0 4px 0;
  box-sizing: border-box;
  font-size: 14px;
  background: #d6d8da;
  border: 1px solid #aaa;
  border-radius: 3px;
}
.add-list #new-list input:focus {
  outline: none;
}
.add-list #new-list button {
  padding: 6px 18px;
  margin: 0 10px 0 0;
  color: #fff;
  font: bold 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, #60bc45 0, #59ab3a 100%);
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px #3f6e17;
}
.add-list #new-list button:hover {
  background: linear-gradient(to bottom, #59ab3a 0, #50972f 100%);
  cursor: pointer;
}
.add-list #new-list a.close {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  margin: 0 5px 0 0;
  vertical-align: middle;
  transform: rotate(45deg);
}
.add-list #new-list a.close:before,
.add-list #new-list a.close:after {
  position: absolute;
  content: "";
  background: #999;
}
.add-list #new-list a.close:before {
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
}
.add-list #new-list a.close:after {
  top: 50%;
  right: 0;
  left: 0;
  height: 2px;
  margin-top: -1px;
}
.add-list #new-list a.close:hover:before,
.add-list #new-list a.close:hover:after {
  background: #4d4d4d;
}
#edit-card {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 3;
}
#edit-card fieldset {
  width: 258px;
}
#edit-card textarea {
  width: 100%;
  min-height: 136px;
  padding: 8px;
  margin: 0 0 10px 0;
  font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #4d4d4d;
  resize: none;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
}
#edit-card textarea:focus {
  outline: none;
}
#edit-card button {
  padding: 6px 18px;
  margin: 0 10px 0 0;
  color: #fff;
  font: bold 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, #60bc45 0, #59ab3a 100%);
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px #3f6e17;
  padding: 10px 26px;
}
#edit-card button:hover {
  background: linear-gradient(to bottom, #59ab3a 0, #50972f 100%);
  cursor: pointer;
}
#card-detail {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 3;
}
#card-detail > .modal {
  width: 730px;
  padding: 10px 14px 20px 46px;
  color: #4d4d4d;
  font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 50px auto;
  background: #edeff0;
  border-radius: 3px;
  box-sizing: border-box;
}
#card-detail > .modal header {
  padding: 0 0 12px 0;
}
#card-detail > .modal header input {
  width: 100%;
  padding: 4px;
  font: bold 18px "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #4d4d4d;
  background: #edeff0;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
}
#card-detail > .modal header input:focus {
  background: #fff;
  outline: none;
}
#card-detail > .modal .col {
  display: inline-block;
  vertical-align: top;
}
#card-detail > .modal .details {
  width: 75%;
  padding: 0 20px 0 0;
  box-sizing: border-box;
}
#card-detail > .modal #card-labels h3 {
  padding: 0 0 6px 0;
  font-weight: normal;
  color: #8c8c8c;
}
#card-detail > .modal #card-labels div {
  padding: 0 0 18px 0;
}
#card-detail > .modal #card-labels div ul {
  display: inline-block;
  vertical-align: top;
}
#card-detail > .modal #card-labels div ul li {
  display: inline-block;
  min-width: 38px;
  height: 26px;
  margin: 0 4px 0 0;
  border-radius: 3px;
}
#card-detail > .modal #card-labels div ul li p {
  color: #fff;
}
#card-detail > .modal #card-labels div .fa-plus {
  padding: 0 8px;
  line-height: 26px;
  color: #999;
  background: #e2e4e6;
  border-radius: 3px;
}
#card-detail > .modal #card-labels div .fa-plus:hover {
  cursor: pointer;
  color: #4d4d4d;
  background: #d6dadc;
}
#card-detail > .modal #description {
  padding: 0 0 34px 0;
}
#card-detail > .modal #description a.edit {
  padding: 0 0 0 6px;
  color: #8c8c8c;
  text-decoration: underline;
}
#card-detail > .modal #description a.edit:hover {
  color: #101010;
}
#card-detail > .modal #description > a.edit {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 3px;
}
#card-detail > .modal #description > a.edit:hover {
  background: rgba(0,0,0,0.1);
}
#card-detail > .modal #description dl dt {
  padding: 0 0 8px 0;
  color: #8c8c8c;
}
#card-detail > .modal #description dl dd {
  color: #505050;
}
#card-detail > .modal #description dl dd form textarea {
  width: 100%;
  min-height: 100px;
  padding: 8px;
  margin: 0 0 2px 0;
  resize: none;
  font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #504e50;
  background: #e6e8e8;
  border: 1px solid #c3c5c6;
  border-radius: 3px;
  box-sizing: border-box;
}
#card-detail > .modal #description dl dd form textarea:focus {
  outline: none;
}
#card-detail > .modal #description dl dd form button {
  padding: 6px 18px;
  margin: 0 10px 0 0;
  color: #fff;
  font: bold 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, #60bc45 0, #59ab3a 100%);
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px #3f6e17;
}
#card-detail > .modal #description dl dd form button:hover {
  background: linear-gradient(to bottom, #59ab3a 0, #50972f 100%);
  cursor: pointer;
}
#card-detail > .modal #description dl dd form a.close {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  margin: 0 5px 0 0;
  vertical-align: middle;
  transform: rotate(45deg);
}
#card-detail > .modal #description dl dd form a.close:before,
#card-detail > .modal #description dl dd form a.close:after {
  position: absolute;
  content: "";
  background: #999;
}
#card-detail > .modal #description dl dd form a.close:before {
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
}
#card-detail > .modal #description dl dd form a.close:after {
  top: 50%;
  right: 0;
  left: 0;
  height: 2px;
  margin-top: -1px;
}
#card-detail > .modal #description dl dd form a.close:hover:before,
#card-detail > .modal #description dl dd form a.close:hover:after {
  background: #4d4d4d;
}
#card-detail > .modal #comments form {
  padding: 0 0 30px 0;
}
#card-detail > .modal #comments form dl dt {
  padding: 0 0 10px 0;
}
#card-detail > .modal #comments form dl dt label {
  font-size: 16px;
  font-weight: bold;
}
#card-detail > .modal #comments form dl dd textarea {
  width: 100%;
  min-height: 74px;
  padding: 8px;
  margin: 0 0 6px 0;
  font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
  resize: none;
  background: #fff;
  border: 1px solid #c3c5c6;
  border-radius: 3px;
  box-sizing: border-box;
}
#card-detail > .modal #comments form dl dd textarea:focus {
  outline: none;
}
#card-detail > .modal #comments form button {
  padding: 6px 18px;
  margin: 0 10px 0 0;
  color: #fff;
  font: bold 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, #60bc45 0, #59ab3a 100%);
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px #3f6e17;
  padding: 10px 18px;
}
#card-detail > .modal #comments form button:hover {
  background: linear-gradient(to bottom, #59ab3a 0, #50972f 100%);
  cursor: pointer;
}
#card-detail > .modal #comments form button:disabled {
  color: #8c8c8c;
  font-weight: normal;
  background: #e2e4e6;
  box-shadow: none;
  cursor: auto;
}
#card-detail > .modal #comments h2 {
  padding: 0 0 12px 0;
  font-size: 16px;
}
#card-detail > .modal #comments ul li {
  padding: 8px 0;
  border-bottom: 1px solid #e2e4e6;
}
#card-detail > .modal #comments ul li h3 {
  padding: 0 0 6px 0;
}
#card-detail > .modal #comments ul li p {
  display: inline-block;
  padding: 10px;
  background: #fff;
  border: 1px solid #e9ebec;
  border-radius: 3px;
}
#card-detail > .modal .actions {
  width: 25%;
}
#card-detail > .modal .actions section {
  padding: 20px 0 0 0;
}
#card-detail > .modal .actions section h2 {
  padding: 0 0 6px 0;
  font-size: 16px;
}
#card-detail > .modal .actions section ul li a {
  display: block;
  padding: 10px;
  color: #444;
  font-weight: bold;
  background: #fbfcfc;
  border: 1px solid #e2e4e6;
  border-radius: 3px;
}
#card-detail > .modal .actions section ul li a:hover {
  color: #fff;
  background: #2491cc;
}
#card-detail > .modal .actions section ul li a:hover i {
  color: #fff;
}
#card-detail > .modal .actions section ul li a i {
  padding: 0 6px 0 0;
  color: #999;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  z-index: 4;
}
.actions-modal {
  width: 300px;
  padding: 10px;
  background: #fff;
  border: 1px solid #d6dadc;
  border-radius: 3px;
  box-sizing: border-box;
}
.actions-modal header {
  text-align: center;
  border-bottom: 1px solid #d6dadc;
  margin: 0 0 6px 0;
}
.actions-modal header a.fa-arrow-left {
  float: left;
  width: 12px;
  height: 12px;
  color: #999;
  margin-top: 2px;
}
.actions-modal header a.fa-arrow-left:hover {
  cursor: pointer;
  color: #4d4d4d;
}
.actions-modal header h1 {
  display: inline-block;
  padding: 0 0 10px 0;
  font-weight: normal;
  color: #8c8c8c;
}
.actions-modal header a.close {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  margin: 0 5px 0 0;
  vertical-align: middle;
  transform: rotate(45deg);
  float: right;
  width: 12px;
  height: 12px;
  margin-top: 2px;
  cursor: pointer;
}
.actions-modal header a.close:before,
.actions-modal header a.close:after {
  position: absolute;
  content: "";
  background: #999;
}
.actions-modal header a.close:before {
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
}
.actions-modal header a.close:after {
  top: 50%;
  right: 0;
  left: 0;
  height: 2px;
  margin-top: -1px;
}
.actions-modal header a.close:hover:before,
.actions-modal header a.close:hover:after {
  background: #4d4d4d;
}
.actions-modal form fieldset input {
  width: 100%;
  padding: 8px;
  margin: 0 0 10px 0;
  font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: #e2e4e6;
  border: 1px solid #cdd2d4;
  box-sizing: border-box;
  border-radius: 3px;
}
.actions-modal form fieldset input:focus {
  background: #fff;
  outline-width: 3px;
}
.actions-modal form fieldset div {
  float: left;
  width: 190px;
}
.actions-modal form fieldset div label {
  display: block;
  padding: 0 0 4px 4px;
  color: #8c8c8c;
}
.actions-modal form fieldset div select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 8px;
  font: bold 18px "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #4d4d4d;
  box-sizing: border-box;
  border: 1px solid #e2e4e6;
  background: linear-gradient(to bottom, #fff 0, #f8f9f9 100%);
}
.actions-modal form fieldset div select:focus {
  outline: none;
}
.actions-modal form fieldset div + div {
  float: right;
  width: 74px;
}
.actions-modal form fieldset button {
  padding: 6px 18px;
  margin: 0 10px 0 0;
  color: #fff;
  font: bold 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, #60bc45 0, #59ab3a 100%);
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px #3f6e17;
  padding: 10px 28px;
  margin: 14px 0 0 0;
}
.actions-modal form fieldset button:hover {
  background: linear-gradient(to bottom, #59ab3a 0, #50972f 100%);
  cursor: pointer;
}
#labels ul {
  padding: 0 0 8px 0;
}
#labels ul li.label {
  width: 100%;
}
#labels ul li.label + li {
  padding-top: 4px;
}
#labels ul li.label div {
  display: inline-block;
  vertical-align: middle;
  width: 240px;
  height: 34px;
  margin: 0 4px 0 0;
  position: relative;
  border-radius: 3px;
}
#labels ul li.label div .fa-check {
  display: none;
}
#labels ul li.label div:hover {
  cursor: pointer;
  width: 246px;
  margin-left: -6px;
  box-shadow: inset 8px 0 rgba(0,0,0,0.3);
}
#labels ul li.label div.checked .fa-check {
  display: inline;
  position: absolute;
  top: 9px;
  right: 9px;
  color: #fff;
}
#labels ul li.label .fa-pencil {
  vertical-align: middle;
  padding: 10px;
  color: #999;
  border-radius: 3px;
}
#labels ul li.label .fa-pencil:hover {
  color: #101010;
  background: #d6dadc;
  cursor: pointer;
}
#labels a.new-label {
  display: block;
  padding: 8px;
  text-decoration: underline;
  color: #8d8d8d;
  border-radius: 3px;
}
#labels a.new-label:hover {
  color: #4d4d4d;
  background: #d6dadc;
}
#new-label form fieldset dl dt,
#edit-label form fieldset dl dt {
  padding: 0 0 4px 0;
}
#new-label form fieldset dl dt label,
#edit-label form fieldset dl dt label {
  font-weight: bold;
  color: #4d4d4d;
}
#new-label form fieldset ul,
#edit-label form fieldset ul {
  padding: 0 0 6px 0;
}
#new-label form fieldset ul li,
#edit-label form fieldset ul li {
  display: inline-block;
  width: 44px;
  height: 34px;
  margin: 0 10px 8px 0;
  border-radius: 3px;
}
#new-label form fieldset ul li .fa-check,
#edit-label form fieldset ul li .fa-check {
  display: none;
}
#new-label form fieldset ul li.checked .fa-check,
#edit-label form fieldset ul li.checked .fa-check {
  display: inline;
}
#new-label form fieldset ul li:last-child,
#edit-label form fieldset ul li:last-child {
  width: 214px;
  vertical-align: top;
}
#new-label form fieldset ul li:last-child dl dt,
#edit-label form fieldset ul li:last-child dl dt {
  color: #4d4d4d;
}
#new-label form fieldset ul li:last-child dl dd,
#edit-label form fieldset ul li:last-child dl dd {
  color: #8c8c8c;
}
.gu-mirror {
  transform: rotate(4deg);
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
