@import "whitespace-reset.css"
@import "mixins"
@import "vendor/dragula.css" 

html
  height: 100%

a
  text-decoration: none

body
  height: 100%
  font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif
  background: rgb(0, 121, 191)
  > header
    display: flex
    width: 100%
    position: fixed
    height: 40px
    padding: 8px
    background: rgba(0, 0, 0, .15)
    box-sizing: border-box
    align-items: center
    z-index: 2
    #search
      flex: 3 3 0
      position: relative
      input
        width: 180px
        height: 30px
        padding: 0 8px
        font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif
        background: #4b96c1
        border: none;
        border-radius: 3px
        box-sizing: border-box
        .close
          display: none
        &:hover
          background: #65a5c9
        &:focus
          outline: none
      .fa-search
        position: relative
        left: -22px
        font-size: 16px
        color: #fff
        cursor: pointer
      &.active
        input
          width: 380px
          background: #fff
        .fa-search
          display: none
        .close
          close()
          width: 16px
          height: 16px
          margin-left: -24px
      #results
        position: absolute
        top: 38px
        width: 600px
        min-height: 180px
        padding: 10px
        border-radius: 3px
        box-sizing: border-box
        background: #edeff0
        h1
          padding: 0 0 10px 0
          font-size: 17px
        #search-cards
          width: 180px
          .card
            &:hover
              background: #fff
    .heading
      flex: 1 1 0
      h1
        text-align: center
        font-size: 18px
        color: #f6f6f6
    #notifications
      flex: 3 3 0
      a.fa
        float: right
        width: 30px
        font-size: 18px
        line-height: 30px
        color: #fff
        text-align: center
        background: linear-gradient(to bottom, rgba(255,255,255,.3) 0, rgba(255,255,255,.2) 100%)
        border-radius: 5px
        &:hover
          background: linear-gradient(to bottom, rgba(255,255,255,.4) 0, rgba(255,255,255,.3) 100%)

main
  height: 100%
  padding: 40px 10px 0 10px
  box-sizing: border-box
  > header
    position: fixed
    h2
      padding: 10px
      font-size: 18px
      color: #f6f6f6
  .container
    width: 100%
    height: 100%
    padding: 44px 0 10px 0
    box-sizing: border-box
    overflow: auto
    ul#lists
      display: flex
      align-items: flex-start
      flex: 0 0 auto;
      height: 100%

li.list
  display: flex
  flex-direction: column
  flex: 0 0 270px
  position: relative
  max-height: 100%
  margin-right: 8px
  background: colors.list.bg
  box-sizing: border-box
  border-radius: 3px
  header
    h3
      padding: 8px 0 4px 10px
      color: #4d4d4d
  div
    height: 100%
    overflow: auto
    box-sizing: border-box
    ul.cards
      padding: 6px 6px 0 6px
  .add-card
    padding: 10px
    color: #8d8d8d
    &:hover
      color: #504e50
      text-decoration: underline
      background: #cdd2d4
      border-radius: 0 0 3px 3px
  #new-card
    fieldset
      padding: 0 6px 6px 6px
      textarea
        width: 100%
        height: 60px
        padding: 6px
        margin: 0 0 4px 0
        font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif
        border: none
        border-radius: 3px
        box-sizing: border-box
        resize: none
        &:focus
          outline: none
      button
        button()
      a.close
        close()
    + .add-card
      display: none

li.card
  position: relative
  margin: 0 0 6px 0
  background: #fff
  border-radius: 3px
  list-style: none
  &:hover
    cursor: pointer
    background: #edeff0
    i.fa-pencil
      display: block
      position: absolute
      top: 4px
      right: 4px
      width: 24px
      line-height: 24px
      text-align: center
      color: #aaa
      border-radius: 3px
      background: rgba(237,239,240,.8)
      &:hover
        color: #4d4d4d
        background: #d6dadc
  p
    padding: 8px
    color: #494949
  i.fa-pencil
    display: none

.add-list
  flex: 0 0 270px
  position: relative
  padding: 12px
  font-size: 14px
  color: rgba(255,255,255,.7)
  background: rgba(0,0,0,.12)
  border-radius: 3px
  box-sizing: border-box
  &:hover
    background: rgba(0,0,0,.3)
  #new-list
    position: absolute
    top: 0
    left: 0
    width: 270px
    padding: 4px
    background: colors.list.bg
    border-radius: 3px
    box-sizing: border-box
    &:hover
      cursor: default
    input
      display: block
      width: 100%
      padding: 8px
      margin: 0 0 4px 0
      box-sizing: border-box
      font-size: 14px
      background: #d6d8da
      border: 1px solid #aaa
      border-radius: 3px
      &:focus
        outline: none
    button
      button()
    a.close
      close()

#edit-card
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: rgba(0, 0, 0, .5)
  z-index: 3
  fieldset
      width: 258px
    textarea
      width: 100%
      min-height: 136px
      padding: 8px
      margin: 0 0 10px 0
      font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif
      color: #4d4d4d
      resize: none
      border: none
      border-radius: 3px
      box-sizing: border-box
      &:focus
        outline: none
    button
      button()
      padding: 10px 26px

#card-detail
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: rgba(0, 0, 0, .5)
  z-index: 3
  > .modal
    width: 730px
    padding: 10px 14px 20px 46px
    color: #4d4d4d
    font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif
    margin: 50px auto
    background: #edeff0
    border-radius: 3px
    box-sizing: border-box
    .col
      display: inline-block
      vertical-align: top
    .details
      width: 75%
      padding: 0 20px 0 0
      box-sizing: border-box
    input
      width: 100%
      padding: 4px
      font: bold 18px "Helvetica Neue", Arial, Helvetica, sans-serif
      color: #4d4d4d
      background: #edeff0
      border: none
      border-radius: 3px
      box-sizing: border-box
      &:focus
        background: #fff
        outline: none;
    #description
      padding: 20px 0 34px 0
      a.edit
        padding: 0 0 0 6px
        color: #8c8c8c
        text-decoration: underline
        &:hover
          color: #101010
      > a.edit
        display: block
        width: 100%
        padding: 8px
        border-radius: 3px
        &:hover
          background: rgba(0,0,0,.1)
      dl
        dt
          padding: 0 0 8px 0
          color: #8c8c8c
        dd
          color: #505050
          form
            textarea
              width: 100%
              min-height: 100px
              padding: 8px
              margin: 0 0 2px 0
              resize: none
              font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif
              color: #504e50
              background: #e6e8e8
              border: 1px solid #c3c5c6
              border-radius: 3px
              box-sizing: border-box
              &:focus
                outline: none
            button
              button()
            a.close
              close()
    #comments
      form
        padding: 0 0 30px 0
        dl
          dt
            padding: 0 0 10px 0
            label
              font-size: 16px
              font-weight: bold
          dd
            textarea
              width: 100%
              min-height: 74px
              padding: 8px
              margin: 0 0 6px 0
              font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif
              resize: none
              background: #fff
              border: 1px solid #c3c5c6
              border-radius: 3px
              box-sizing: border-box
              &:focus
                outline: none
        button
          button();
          padding: 10px 18px
          &:disabled
            color: #8c8c8c
            font-weight: normal
            background: #e2e4e6
            box-shadow: none
            cursor: auto
      h2
        padding: 0 0 12px 0
        font-size: 16px
      ul
        li
          padding: 8px 0
          border-bottom: 1px solid #e2e4e6
          h3
            padding: 0 0 6px 0
          p
            display: inline-block
            padding: 10px
            background: #fff
            border: 1px solid #e9ebec
            border-radius: 3px
    .actions
      width: 25%
      section
        padding: 20px 0 0 0
        h2
          padding: 0 0 6px 0
          font-size: 16px
        ul
          li
            a
              display: block
              padding: 10px
              color: #444
              font-weight: bold
              background: #fbfcfc
              border: 1px solid #e2e4e6
              border-radius: 3px
              &:hover
                color: #fff
                background: #2491cc
                i
                  color: #fff
              i
                padding: 0 6px 0 0
                color: #999

.modal-backdrop
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: transparent
  z-index: 4

.actions-modal
  width: 300px
  padding: 10px
  background: #fff
  border: 1px solid #d6dadc
  border-radius: 3px
  box-sizing: border-box
  header
    text-align: center
    border-bottom: 1px solid #d6dadc
    margin: 0 0 6px 0
    h1
      display: inline-block
      padding: 0 0 10px 0
      font-weight: normal
      color: #8c8c8c
    a.close
      close()
      float: right
      width: 12px
      height: 12px
      margin-top: 2px
  form
    fieldset
      div
        float: left
        width: 190px
        label
          display: block
          padding: 0 0 4px 4px
          color: #8c8c8c
        select
          -webkit-appearance: none
          -moz-appearance: none
          appearance: none
          width: 100%
          padding: 8px
          font: bold 18px "Helvetica Neue", Arial, Helvetica, sans-serif
          color: #4d4d4d
          box-sizing: border-box
          border: 1px solid #e2e4e6
          background: linear-gradient(to bottom, #fff 0, #f8f9f9 100%)
          &:focus
            outline: none
        + div
          float: right
          width: 74px
      button
        button()
        padding: 10px 28px
        margin: 14px 0 0 0

#labels
  ul
    li.label
      width: 100%
      + li
        padding-top: 4px
      div
        display: inline-block
        vertical-align: middle
        width: 240px
        height: 34px
        margin: 0 4px 0 0
        position: relative
        border-radius: 3px
        .fa-check
          display: none
        &:hover
          cursor: pointer
          width: 246px
          margin-left: -6px
          box-shadow: inset 8px 0 rgba(0,0,0,.3)
        &.checked
          .fa-check
            display: inline
            position: absolute
            top: 9px
            right: 9px
            color: #fff
      .fa-pencil
        vertical-align: middle
        padding: 10px
        color: #999
        border-radius: 3px
        &:hover
          color: #101010
          background: #d6dadc
          cursor: pointer

.gu-mirror
  transform: rotate(4deg)
  cursor: grabbing
  cursor: -webkit-grabbing
